<div class="container mx-auto">
  <h1 class="text-5xl mt-0 mb-8">Codeplan Password Manager</h1>
  <p class="mb-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error illum tempora
    sint minus repellat magni libero. Ratione dignissimos libero sit.
  </p>
  <button
    class="mb-5 mx-0 py-2 px-4 border-2 text-sm bg-gray-900 text-white shadow rounded-md"
  >
    Add New Site
  </button>

  <!-- site generator -->
  <div class="px-20 py-10 mb-10 my-5 border-4 border-gray-900">
    <h2 class="text-3xl text-center">Add New Site</h2>
    <p class="text-center text-xl">you can add a new site below form</p>

    <form>
        <div class="flex flex-col">
            <label for=""></label>
        </div>
    </form>
  </div>
</div>
