<div class="container mx-auto">
  <h1 class="text-5xl mt-10 mb-8">Codeplan Password Manager</h1>
  <p class="mb-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error illum tempora
    sint minus repellat magni libero. Ratione dignissimos libero sit.
  </p>
  <button
    class="mb-5 mx-0 py-2 px-4 border-2 text-sm bg-gray-900 text-white shadow rounded-md"
  >
    Add New Site
  </button>

  <!-- site generator -->
  <div *ngIf="isSuccess" class="py-4 w-full px-3 bg-green-300">
    <p class="text-xl font-light">{{popText}}</p>
  </div>

  <div class="px-20 py-10 mb-10 my-5 border-4 border-gray-900">
    <h2 class="text-3xl text-center">{{ formState }} Site</h2>
    <p class="text-center text-xl">you can {{ formState }} site below form</p>

    <!-- form generator -->
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <div class="flex flex-col">
        <label for="" class="text-lg font-medium mb-2">Site Name</label>
        <input
          [(ngModel)]="formGroup.siteName"
          type="text"
          class="border-2 border-gray-900 p-2 rounded-lg w-full"
          name="siteName"
        />
      </div>

      <div class="flex flex-col">
        <label for="" class="text-lg font-medium mb-2">Site Url</label>
        <input
          [(ngModel)]="formGroup.siteUrl"
          type="text"
          class="border-2 border-gray-900 p-2 rounded-lg w-full"
          name="siteUrl"
        />
      </div>

      <div class="flex flex-col">
        <label for="" class="text-lg font-medium mb-2">Site Image Url</label>
        <input
          [(ngModel)]="formGroup.siteImgUrl"
          type="text"
          class="border-2 border-gray-900 p-2 rounded-lg w-full"
          name="siteImgUrl"
        />
      </div>
      <button
        class="mt-10 mx-0.5 px-5 py-3 text-sm bg-gray-800 text-white shadow rounded-md"
      >
        {{ formState }} Site
      </button>

      <button
        class="mt-10 mx-0.5 px-5 py-3 text-sm bg-gray-100 text-black shadow rounded-xm border-2 border-gray-700 rounded-md"
      >
        Cancel
      </button>
    </form>
  </div>

  <!-- cards lists -->

  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4">
    <div
      *ngFor="let site of allSites | async"
      class="shadow-lg border-2 broder-gray-900"
    >
      <img [src]="site.siteImgUrl" alt="banner" />
      <h3 class="p-3 text-xl font-bold">{{ site.siteName }}</h3>
      <div class="w-60 px-3 bg-blue-200 ml-2 text-blue-800 rounded-lg text-sm">
        {{ site.siteUrl }}
      </div>
      <button
        class="ml-2 my-3 mx-0.5 text-sm py-2 px-5 border-2 bg-gray-900 text-white rounded-md shadow"
      >
        Add New Password
      </button>

      <button
        class="my-3 mx-0.5 text-sm py-2 px-3 border-2 border-gray-700 text-black rounded-lg shadow"
        (click)="editSite(site)"
      >
        Edit
      </button>
      <button
        class="my-3 mx-0.5 text-sm py-2 px-5 border-2 border-gray-700 text-black rounded-lg shadow"
        (click)="deliteSite(site.id)"
      >
        Delite
      </button>
    </div>
  </div>
</div>
